server:
  port: 0
spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:mem:bookingdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true
  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: ${JWT_SECRET:devsecret}
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
booking:
  saga:
    hotel:
      timeout-ms: 2000
      retries: 3
      backoff-ms: 200
logging:
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss} [%X{X-Correlation-Id:-}] [%thread] %-5level %logger{36} - %msg%n'